body{
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}

.header{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 250px;
    padding-right: 250px; 
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    margin:0px;

}

.lefthead{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}
.righthead{
    
    
    
}
.righthead a{
       color: #f9faf8; 
       text-decoration: none;
       margin: 10px;
}

.intro{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 250px;
    padding-right: 250px; 
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    background-color: #1f2937;

}

.imagi img{
    max-width: 100%;
    
}
.intitle{
    color: #f9faf8;
    font-size: 48px;
    font-weight: 800 ;
    margin-bottom: 20px;

}
.inbody{
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom: 20px;
    
}

button.sign{
    border: 2px;
    border-radius: 10%;
    font-weight: bolder;
    padding: 10px 30px;
    color: #f9faf8;
    background: royalblue;
}

.rando{
    background-color: white;
    color: #1f2937;
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    margin: 40px;
}
.inform{
    display: flex;
    padding: 20px 250px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 80px;
    
}
img.imoje{
    width: 200px;
    height: 200px;
    
    border: 5px royalblue;
    border-radius: 20%;
    border-style: solid;
}
.tex{
    width: 200px;
    flex-wrap: wrap;
    text-align: center;

}